.header {
    border-bottom: 1px solid hsl(0, 0%, 93%);
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    z-index: 999999999999999999999999;
}
.lists-nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    
}
.lists-nav .brand,
.lists-nav .brand ul {
    display: flex;
    align-items: center;
}
.lists-nav .brand ul li img {
    width: 30px;
    height: 25px;
    margin-right: 10px;
}
.lists-nav .brand ul li:first-of-type{
    margin-right: 10px;
    border-right: 1px solid #aaaaaa;
    padding-right: 10px;
}
.lists-nav .brand ul li a.active {
    font-size: 1.7rem;
    color: blue;
}
.lists-nav .brand ul li a {
    font-family: 'Open Sans', sans-serif;
}
.lists-nav .logo-nav img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.lists-nav .list-nav ul{
    display: flex;
}

.lists-nav .list-nav ul li a {
    color: #656565;
    font-size: 1.8rem;
    text-decoration: none;
    margin-right: 15px;
    transition: all .7s ease-in-out;
    /* text-transform: uppercase; */
    /* font-weight: 500; */
    font-family: 'Open Sans', sans-serif;
}
.lists-nav .list-nav ul li a.active {
    color: #008329;
}
.lists-nav .list-nav ul li a:hover {
    color: #008329;
}

