<div class="header">
  <div class="container">
    <div class="lists-nav">
      <div class="brand">
        
        <ul class="list-unstyled">
          <li>
            <img src="assets/flags/egypt.png" alt="EG">
            <a href="">عربي</a>
          </li>
          <li>
              <img src="assets/flags/united-states.png" alt="USA">
            <a href="" class="active">English</a>
          </li>
        </ul>
      </div>
      <div class="logo-nav">
        <a href="">
          <img src="assets/logo.jpg" alt="Logo">
        </a>
      </div>
      <div class="list-nav">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li>
            <a href="#lastItems">Latest items</a>
          </li>
          <li>
            <a href="#offers">Offers</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>