<section class="home">
  <div class="container">
    <div class="row search-bar">
      <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> <span id="search_concept">Filter
                by</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#contains">Contains</a></li>
              <li><a href="#its_equal">It's equal</a></li>
              <li><a href="#greather_than">Greather than ></a></li>
              <li><a href="#less_than">Less than < </a> </li> <li class="divider">
              </li>
              <li><a href="#all">Anything</a></li>
            </ul>
          </div>
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input type="text" class="form-control" name="x" placeholder="Search item...">
          <span class="input-group-btn search-icons-one">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="row row1">

      <div class="col-md-4 col-sm-6" *ngFor="let branch of cats">
        <div>
          <a href="">
            <img src="assets/branches/{{branch['name']}}.png" alt="Clothes">
            <span>{{ branch['name']}}</span>
          </a>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="new-brand">
  <div class="container">
    <h3>
      <img src="assets/brands/megaphone.png" alt="Ads">
      New brands
    </h3>
    <hr>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="box-brand">
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="love-brand">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          </div>
          <div class="content-brand">
            <div class="brand-logo-box">
              <img src="assets/brands/idea.png" alt="Brand">
            </div>
            <div class="brand-content-text">
              <h5>Twon team</h5>
              <p class="branch-brand">Clothes shop</p>
              <p class="address-brand">Abdelslam aref 32 street</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box-brand">
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="love-brand">
            <span class="glyphicon glyphicon-heart active" aria-hidden="true"></span>
          </div>
          <div class="content-brand">
            <div class="brand-logo-box">
              <img src="assets/brands/shield.png" alt="Brand">
            </div>
            <div class="brand-content-text">
              <h5>Men's Club</h5>
              <p class="branch-brand">Clothes shop</p>
              <p class="address-brand">Abdelslam aref 54 street</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="box-brand">
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="love-brand">
            <span class="glyphicon glyphicon-heart active" aria-hidden="true"></span>
          </div>
          <div class="content-brand">
            <div class="brand-logo-box">
              <img src="assets/brands/idea.png" alt="Brand">
            </div>
            <div class="brand-content-text">
              <h5>Fire Wald</h5>
              <p class="branch-brand">Clothes shop</p>
              <p class="address-brand">Abdelslam aref 67 street</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="box-brand">
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="love-brand">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          </div>
          <div class="content-brand">
            <div class="brand-logo-box">
              <img src="assets/brands/shield.png" alt="Brand">
            </div>
            <div class="brand-content-text">
              <h5>Fire Wald</h5>
              <p class="branch-brand">Clothes shop</p>
              <p class="address-brand">Abdelslam aref 67 street</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="box-brand">
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="love-brand">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          </div>
          <div class="content-brand">
            <div class="brand-logo-box">
              <img src="assets/brands/idea.png" alt="Brand">
            </div>
            <div class="brand-content-text">
              <h5>Fire Wald</h5>
              <p class="branch-brand">Clothes shop</p>
              <p class="address-brand">Abdelslam aref 67 street</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="box-brand">
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="boxs-brand"></div>
          <div class="love-brand">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          </div>
          <div class="content-brand">
            <div class="brand-logo-box">
              <img src="assets/brands/shield.png" alt="Brand">
            </div>
            <div class="brand-content-text">
              <h5>Fire Wald</h5>
              <p class="branch-brand">Clothes shop</p>
              <p class="address-brand">Abdelslam aref 67 street</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>
<section class="offers" id="offers">
  <div class="container">
    <h3>
      <img src="assets/brands/sale.png" alt="Ads">
      Recent offers
    </h3>
    <hr>

    <div class="row">
      <div class="col-sm-6">
        <div class="offer-content">
          <img src="assets/items/offers/fire.jpg" alt="offer wood">
          <div class="offer-details">
              <p>There are many variations of passages of Lorem Ipsum available, 
                but the majority have suffered alteration in some form</p>
            </div>
          <div class="overlay">
           
            <div class="over-content">
              <div class="price-offer">
                <span>10$</span>
                <span>20$</span>
              </div>
              <div class="lover-offer">
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </div>
              <div class="text-offer">
                  <h3>Any Pantlon in fire wood</h3>
                  <span>Fire Wood</span><br>
                  <span>Abdelslam 3aref Benisurf</span>
              </div>
              
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="offer-content">
              <img src="assets/items/offers/mens.jpg" alt="offer wood">
              <div class="offer-details">
                  <p>There are many variations of passages of Lorem Ipsum available, 
                    but the majority have suffered alteration in some form</p>
                </div>
              <div class="overlay">
               
                <div class="over-content">
                  <div class="price-offer">
                    <span>10$</span>
                    <span>20$</span>
                  </div>
                  <div class="lover-offer">
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </div>
                  <div class="text-offer">
                      <h3>Any Pantlon in fire wood</h3>
                      <span>Fire Wood</span><br>
                      <span>Abdelslam 3aref Benisurf</span>
                  </div>
                  
                </div>
    
              </div>
            </div>
      </div>
      <div class="col-sm-6">
          <div class="offer-content">
              <img src="assets/items/offers/fire.jpg" alt="offer wood">
              <div class="offer-details">
                  <p>There are many variations of passages of Lorem Ipsum available, 
                    but the majority have suffered alteration in some form</p>
                </div>
              <div class="overlay">
               
                <div class="over-content">
                  <div class="price-offer">
                    <span>10$</span>
                    <span>20$</span>
                  </div>
                  <div class="lover-offer">
                      <span class="glyphicon glyphicon-heart active" aria-hidden="true"></span>
                  </div>
                  <div class="text-offer">
                      <h3>Any Pantlon in fire wood</h3>
                      <span>Fire Wood</span><br>
                      <span>Abdelslam 3aref Benisurf</span>
                  </div>
                  
                </div>
    
              </div>
            </div>
      </div>
    </div>

  </div>
</section>

<hr>

<section class="latest-item" id="lastItems">
  <div class="container">
    <h3>
      <img src="assets/brands/list.png" alt="Ads">
      Latest items
    </h3>
    <hr>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="price">
            <div class="total-price">
              <span>11.5$</span>
              <span>23$</span>
            </div>
          </div>
          <div class="discount">
            <span>Discount 50%</span>
          </div>
          <img src="assets/items/Sport-favorites-Multi-tab.jpg" alt="item">
          <div class="caption">
            <h3>New Tshirt</h3>
            <p>Men's Club</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="price">
            <div class="total-price">
              <span>315$</span>
              <span>350$</span>
            </div>
          </div>
          <div class="discount">
            <span>Discount 10%</span>
          </div>
          <img src="assets/items/Laptops.jpg" alt="item">
          <div class="caption">
            <h3>New Laptop</h3>
            <p>Men's Club</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="price">
            <div class="total-price">
              <span>200$</span>
              <span>100$</span>
            </div>
          </div>
          <div class="discount">
            <span>Discount 50%</span>
          </div>
          <img src="assets/items/Toys.jpg" alt="item">
          <div class="caption">
            <h3>New Toy</h3>
            <p>Men's Club</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="price">
            <div class="total-price">
              <span>200$</span>
              <span>100$</span>
            </div>
          </div>
          <div class="discount">
            <span>Discount 50%</span>
          </div>
          <img src="assets/items/Toys.jpg" alt="item">
          <div class="caption">
            <h3>New Toy</h3>
            <p>Men's Club</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="price">
            <div class="total-price">
              <span>200$</span>
              <span>100$</span>
            </div>
          </div>
          <div class="discount">
            <span>Discount 50%</span>
          </div>
          <img src="assets/items/Toys.jpg" alt="item">
          <div class="caption">
            <h3>New Toy</h3>
            <p>Men's Club</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="price">
            <div class="total-price">
              <span>200$</span>
              <span>100$</span>
            </div>
          </div>
          <div class="discount">
            <span>Discount 50%</span>
          </div>
          <img src="assets/items/Toys.jpg" alt="item">
          <div class="caption">
            <h3>New Toy</h3>
            <p>Men's Club</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <div class="price">
            <div class="total-price">
              <span>200$</span>
              <span>100$</span>
            </div>
          </div>
          <div class="discount">
            <span>Discount 50%</span>
          </div>
          <img src="assets/items/Toys.jpg" alt="item">
          <div class="caption">
            <h3>New Toy</h3>
            <p>Men's Club</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>